a{
    color:white;
    font-weight: 100px;
    font-size: 20px;}

.container{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
}
.container-fluid{
    display: flex;
    margin: 0;
    padding: 0;
    width:100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contain{
    padding-left:60px;
    padding-top:20px;
}

.side_pane:hover{
    color:#2a2a98;
}
.side_pane{
    color:white;
    display: block;
}
i{
    padding-right:10px;
}
.form-group{
    margin-bottom: 20px;
    display: block;
    width:500px;
}
input,textarea{
    width:400px;
    padding: 10px;
    border:1px solid black;
    resize:vertical;
}
.form-group label{
    width: 120px;
    margin-right: 20px;
}
h2{
    font-size:32px;
    padding-bottom:25px;
    align-items: center;
    color: rgb(47, 47, 190);
}
h3{
    margin-bottom:30px;
    font-size:25px;
}
button{
    width:80px;
    height:40px;
    margin-bottom: 20px;
    background-color: rgb(47, 47, 190);
    border-radius: 10px;
    outline: none;
    border: none;
    color: white;
    font-size: 20px;
    text-align: center;

}
